.search-form{
 padding-top: 50px;
}
.headingThree{
 text-align: center;
 margin-top:2rem;
}
.gh{
 color:#3b5998;
}
.paragraph{
 text-align: center;
}
.about{
 text-align: center;
 color:#3b5998;
}
.divider{
 height: 0.5rem;
 width: 0.5rem;
}