<div>
<div class="panel panel-default">
 <div class="panel-heading">
  {{profile.name}}<smal>({{profile.login}})</smal>
  {{profile.company}}
 </div>
 <!-- to be displayed on the profile page ,more about the profile -->
 <div class="panel-body">
  <div class="row">
   <div class="col-sm-3">
    <img src="" alt="image profile" srcset="" class="img-circle img-responsive">
   </div>
   <div class="col-sm-5">
    <div class="list-group">
     <ul class="list-group">
     <li class="list-group-item" *ngIf="profile.bio">{{profile.bio}}</li>
      <li class="list-group-item" *ngIf="profile.bio">free to freelance{{profile.bio}}</li>

     </ul>
     <!-- following section,followers section -->
     <div class="col-sm-5">
      <div>
       <p>
        <span class="label label-default">{{profile.followers}}followers</span>
         <span class="label label-default">{{profile.followers}}followers</span>
          <span class="label label-default">{{profile.followers}}followers</span>
       </p>
      </div>
     </div>
    </div>
   </div>
  </div>
 </div>
</div>
</div>
